#vt-container {
	background-color: rgba(252, 252, 252, 1);
	padding-left: 0px;
	padding-right: 0px;
}
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 290px;
	background-color: rgba(0, 0, 0, 0.1);
	overflow: auto;
	color: white;
	background-color: #131313;
}
.sidebar .vt-logo {
	padding: 20px 30px 20px;
}
.sidebar .vt-logo h3 {
	color: #F8F8F8;
	font-family: 'Berkshire Swash', cursive;
	margin-bottom: 0px;
}
.sidebar .vt-logo span {
	padding: 0px 0px 20px 120px;
	font-size: 12px;
	border-bottom: 1px solid #F8F8F8;
}

.vt-main-navigation{
	margin: 80px auto 30px auto;
	text-align: left;
}
.vt-main-navigation label{
	font-family: 'Crushed', cursive;
	padding: 0px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 40px;
	cursor: pointer;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 40px;
	font-size: 19px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}
.vt-main-navigation label:hover{
	background: #fff;
}
.vt-main-navigation input:checked + label,
.vt-main-navigation input:checked + label:hover{
	background: #c6e1ec;
	color: #3d7489;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.vt-main-navigation label:hover:after,
.vt-main-navigation input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../img/arrow_down.png) no-repeat center center;	
}
.vt-main-navigation input:checked + label:hover:after{
	background-image: url(../img/arrow_up.png);
}
.vt-main-navigation input{
	display: none;
}
.vt-main-navigation article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.vt-main-navigation article p{
	font-style: italic;
	color: #777;
	line-height: 23px;
	font-size: 14px;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.vt-main-navigation input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.vt-main-navigation input:checked ~ article.ac-small{
	height: 68px;
}
.vt-main-navigation input:checked ~ article.ac-medium{
	height: 135px;
}
.vt-main-navigation input:checked ~ article.ac-large{
	height: 171px;
}
.vt-main-navigation ul {
	list-style: none;
	width: 100%;
}
.vt-main-navigation ul li{
	width: 100%;
	padding: 8px 20px;
	margin: 0px;
	cursor: pointer;
	background: #F3F3F3;
	opacity: 0.7;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
}
.vt-main-navigation ul li:hover {
	opacity: 1.0;
}
.vt-main-navigation ul li a {
	text-decoration: none;
	width: 100%;
}
.vt-content {
	margin-left: 290px;
}
.vt-top {
	position: relative;
	top: 0;
	width: 100%;
	overflow: hidden;
	color: #333;
	z-index: 101;
	box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.2);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(246, 246, 246, 1) 47%,rgba(237, 237, 237, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 1)), color-stop(47%,rgba(246, 246, 246, 1)), color-stop(100%,rgba(237, 237, 237, 1)));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(246, 246, 246, 1) 47%,rgba(237, 237, 237, 1) 100%);
	background: -moz-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 1)), color-stop(47%,rgba(246, 246, 246, 1)), color-stop(100%,rgba(237, 237, 237, 1)));
}
ul.vt-top-allowances {
	list-style: none;
	width: 80%;
	margin: 0px;
}
.vt-top-allowances li {
	float: left;
	width: 20%;
	position: relative;
	margin-bottom: 0px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
}
.vt-top-allowances li a {
	border-top: 0;
	display: block;
	text-align: center;
	position: relative;
	z-index: 2;
	color: black;
	padding: 35px 10px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	overflow: hidden;
}
.vt-top-allowances span {
	display: block;
	text-align: center;
	font-size: 10px;
}
.allowance-effect {
	font-size: 70px;
	line-height: 0px;
	color: white;
	top: 50%;
	position: absolute;
	width: 100%;
	text-align: center;
	opacity: 0.5;
	-webkit-transition: font-size 0.4s ease;
	-moz-transition: font-size 0.4s ease;
}
/* .vt-top-allowances li.vacation-days-allowances, */
.vt-top-allowances li.vacation-days-allowances:hover {
	background: #ef7901;
}
.vt-top-allowances li.personal-days-allowances:hover {
	background: #98bf0d;
}
.vt-top-allowances li.carryover-days-allowances:hover {
	background: #01b0ec;
}
.vt-top-allowances li.fmla-days-allowances:hover {
	background: #b147a3;
}
.vt-top-allowances li.sick-days-allowances:hover {
	background: #d54421;
}
.vt-top-allowances li:hover .vt-allowance-big{
	font-size: 0px;
}
.vt-top-allowances li:hover .allowance-effect {
	opacity: 1;
}
.vt-top-nav-end {
	width: 20%;
	display: inline-block;
}
ul.vt-top-request {
	list-style: none;
	margin-bottom: 60px;
}
ul.vt-top-request li {
	float: left;
	width: 20%;
	position: relative;
	margin-bottom: 0px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
}
ul.vt-top-request li:hover .iconic{
	color: blue;
}
ul.vt-top-request li a {
	border-top: 0;
	display: block;
	text-align: center;
	position: relative;
	z-index: 2;
	color: black;
	padding: 15px 10px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	overflow: hidden;
}